name: Run tests

on:
  push:
    branches:
      - main
    tags: '*'
  pull_request:

jobs:
  vanilla-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        julia-version:
          - '1.7'
          - '1.6'
          - 'nightly'
        nthreads:
          - '1'
          - '2'
          - '16'
      fail-fast: false
    name: Test Julia ${{ matrix.julia-version }} nthreads=${{ matrix.nthreads }}
    steps:
      - uses: actions/checkout@v2
      - uses: julia-actions/setup-julia@v1
        with:
          version: ${{ matrix.julia-version }}
      - uses: julia-actions/julia-runtest@v1
        env:
          JULIA_NUM_THREADS: ${{ matrix.nthreads }}
      - uses: julia-actions/julia-processcoverage@v1
      - uses: codecov/codecov-action@v2
        with:
          file: ./lcov.info
          flags: Pkg.test
          name: codecov-umbrella

  # A job that succeeds if and only if all jobs in `test` succeed.
  all-success:
    if: always() && github.event.pull_request
    needs: vanilla-test
    runs-on: ubuntu-latest
    steps:
      # https://github.com/tkf/merge-conclusions-action
      - uses: tkf/merge-conclusions-action@v1
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
